* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	background : black;
	overflow: hidden;
}

ul {
	list-style: none;
}

.stage > ul {
	border: 1px solid white;
	width: 250px;
	margin: 0 auto;
}

.stage > ul > li {
	width: 100%;
	height: 25px;
}

.stage > ul > li > ul {
	display: flex;
	border-spacing: 0;
}

.stage > ul > li > ul > li {
	width: 25px;
	height: 25px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

.stage > ul > li > ul > li:last-child {
	border-right: none;
}

.stage > ul > li:last-child > ul > li {
	border-bottom: none;
}

.block_rect {
	background: #8ef0ff;
}
.block_rod {
	background: #fff28a;
}
.block_t {
	background: #ff7a7a;
}
.block_z {
	background: #d28aff;
}
.block_s {
	background: #7aff7a;
}
.block_l1 {
	background: #ffb870;
}
.block_l2 {
	background: #7aafff;
}

.score_container{
	text-align: center;
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
}

.gameover{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background : rgba(0,0,0,0.5);
    left : 0;
    top : 0;
    color : #fff;
    font-size: 30px;
}

.gameover > button{
    padding : 0.5rem 1rem;
    color : black;
    background: peachpuff;
    border: none;
    cursor: pointer;
}

.gamebutton{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color : #fff;
}

.gamebutton button{
	margin-top : 20px;
    color : #fff;
    background: black;
    border: 1px solid white;
    cursor: pointer;
	width: 60px;
	height: 25px;
	text-align: center;
}

.btn_down{
	margin-left : 20px;
	margin-right : 20px;
}
